# Configuracion del Servidor
SERVER_HOST=0.0.0.0
SERVER_PORT=9000
LOG_FILE=chat.log
LOG_MAX_BYTES=5000000
LOG_BACKUPS=3

# Configuracion del Cliente
CLIENT_HOST=127.0.0.1
CLIENT_PORT=9000

# Configuracion SSL/TLS
SSL_ENABLED=true
SSL_CERT_FILE=certificates/server.crt
SSL_KEY_FILE=certificates/server.key
SSL_CA_FILE=certificates/ca.crt

# Configuracion Criptografica
HMAC_SALT=change_this_salt_in_production
